<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>系统登录</title>
  <link rel="stylesheet" href="css/googleapis.css">
  <link rel="stylesheet" href="css/all.min.css">
  <link rel="stylesheet" href="css/icheck-bootstrap.min.css">
  <link rel="stylesheet" href="css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
   <b>后台登陆</b>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>
      <form class="loginForm">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="username" placeholder="Username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="password" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                	记住我
              </label>
            </div>
          </div>
          <div class="col-4">
            <a class="btn btn-primary btn-block" href="javascript:;"  onclick="login();">登陆</a>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <p class="mb-1">
        <a href="pages/examples/forgot-password.html">忘记密码?</a>
      </p>
      <p class="mb-0">
        <a href="pages/examples/register.html" class="text-center">注册</a>
      </p>
    </div>
  </div>
</div>
<script src="js/lib/jquery/jquery.min.js"></script>
<script src="js/lib/bootstrap/bootstrap.bundle.min.js"></script>
<script src="js/adminlte.min.js"></script>
<script src="js/system/login.js"></script>
</body>
</html>
